version: '3.8'
services:
  db:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    volumes:
      - ./mongo/data/db:/data/db
  api: 
    restart: always
    build: 
      context: ./
      dockerfile: ./dockerfile.api
    volumes:
    - ./backend/:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
