<!-- 共用Header S -->
<nav class="navbar navbar-dark bg-dark bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
            LOGO
        </a>
        <div class="topnav-centered">
            <a class="text-clean text-white">Fun電趣</a>
        </div>
        <form class="d-flex gap-2" *ngIf="user && user.name && user.accessToken">
            <a class="text-clean text-white line-32" routerLink="/userInfo">{{ user.name }}</a>
            <a class="btn btn-sm btn-light" (click)="onLogout()">登出</a>
        </form>
        
        <form class="d-flex gap-2" *ngIf="!(user && user.name && user.accessToken)">
            <a class="btn btn-sm btn-light" (click)="onShowTypeDialog()">註冊</a>
            <a class="btn btn-sm btn-light" routerLink="/login">登入</a>
        </form>
    </div>
</nav>
<div class="bg-black imgHeader">
    <img src="assets/images/HomePageTop.png" alt="" class="headerCover">
</div>
<!-- 共用Header E -->
