<div class="container" style="min-height: 620px;">
<!-- --------------------------------------------------------------- -->
    <div class="row ">
        <div class="col-md-6 mt-2" >
            <div class="bg-black p-24 br-14">
                <div class="row gap-3">
                    <div class="col-md-12">
                        <p class="fs24 fw800 text-center text-white">一般會員登入</p>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-2 text-center text-white fw600 ">
                                <label for="accoundID " class="col-form-label">帳號</label>
                            </div>
                            <div class="col-10">
                                <input type="text" id="accoundID" class="form-control" aria-describedby="Username" placeholder="請輸入身分證">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-2 text-center text-white fw600 ">
                                <label for="inputPassword6 " class="col-form-label">密碼</label>
                            </div>
                            <div class="col-10">
                                <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="請輸入密碼">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 bg-black text-right">
                        <a class="text-white mb-0" data-bs-toggle="modal" href="#SendSmsModalToggle" role="button">
                            忘記密碼？
                        </a>
                    </div>
                    <div class="col-md-12 bg-black">
                        <div class="w-100 bg-white br-14" style="height: 45px;">
                            <p class="text-center pt-2">我不是機器人</p>
                            <!-- 這裡放機器人驗證套件 -->
                        </div>
                    </div>
                    <div class="col-md-12 bg-black">
                        <button class="btn btn-100 btn-red" type="button">登入</button>
                    </div>
                    <div class="col-md-12 bg-black text-center">
                        <a class="text-clean text-white mb-0" href="#">
                            還不是會員嗎？
                        </a>
                        <a class="text-blue mb-0" href="00Register.html">
                            立刻註冊新帳號
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-2" >
            <div class="bg-black p-24 br-14">
                <div class="row gap-3">
                    <div class="col-md-12">
                        <p class="fs24 fw800 text-center text-white">租車夥伴登入</p>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-2 text-center text-white fw600 ">
                                <label for="accoundID " class="col-form-label">帳號</label>
                            </div>
                            <div class="col-10">
                                <input type="text" id="accoundID" class="form-control" aria-describedby="Username" placeholder="請輸入身分證">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-2 text-center text-white fw600 ">
                                <label for="inputPassword6 " class="col-form-label">密碼</label>
                            </div>
                            <div class="col-10">
                                <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="請輸入密碼">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 bg-black text-right">
                        <a class="text-white mb-0" data-bs-toggle="modal" href="#SendSmsModalToggle" role="button">
                            忘記密碼？
                        </a>
                    </div>
                    <div class="col-md-12 bg-black">
                        <div class="w-100 bg-white br-14" style="height: 45px;">
                            <p class="text-center pt-2">我不是機器人</p>
                            <!-- 這裡放機器人驗證套件 -->
                        </div>
                    </div>
                    <div class="col-md-12 bg-black">
                        <button class="btn btn-100 btn-red" type="button">登入</button>
                    </div>
                    <div class="col-md-12 bg-black text-center">
                        <a class="text-clean text-white mb-0" href="#">
                            還不是會員嗎？
                        </a>
                        <a class="text-blue mb-0" href="00Register.html">
                            立刻註冊新帳號
                        </a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

</div>
