<div class="container">
<!-- --------------------------------------------------------------- -->
    <div class="row">
        <form class="col-md-6" [formGroup]="orderForm" (ngSubmit)="onSubmitOrder()">
            <div class="bg-black text-center p-12 mt-3 mb-2 br-14">
                <p class="text-white m-0">一般租車</p>
            </div>
            <div class="bg-black p-24 br-14" style="height: 360px;">
                <div class="row gap-3">
                    <div class="col-md-12">
                        <select class="form-select" aria-label="取/還車地點" formControlName="location">
                            <option selected value=null>請選擇</option>
                            <option value="高雄 高鐵站">高雄 高鐵站</option>
                            <option value="高雄 火車站">高雄 火車站</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 col-8">
                                <div class="input-group date datepickers" id="">
                                    <input type="text" class="form-control" id="date" placeholder="yyyy/MM/dd" matInput [matDatepicker]="picker1" (click)="picker1.open()" formControlName="startDate"/>
                                    <mat-datepicker #picker1></mat-datepicker>
                                    <span class="input-group-append" (click)="picker1.open()">
                                        <span class="input-group-text bg-light d-block">
                                        <i class="fa fa-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 col-4">
                                <select class="form-select" aria-label="時間" formControlName="startTime">
                                    <option selected value=null>請選擇</option>
                                    <option value="08:00">08:00</option>
                                    <option value="08:30">08:30</option>
                                    <option value="09:00">09:00</option>
                                    <option value="09:30">09:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                    <option value="18:30">18:30</option>
                                    <option value="19:00">19:00</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 col-8">
                                <div class="input-group date datepickers" id="">
                                    <input type="text" class="form-control" id="date" placeholder="yyyy/MM/dd" matInput [matDatepicker]="picker2" (click)="picker2.open()" formControlName="endDate"/>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    <span class="input-group-append" (click)="picker2.open()">
                                        <span class="input-group-text bg-light d-block">
                                        <i class="fa fa-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 col-4">
                                <select class="form-select" aria-label="時間" formControlName="endTime">
                                    <option selected value=null>請選擇</option>
                                    <option value="08:00">08:00</option>
                                    <option value="08:30">08:30</option>
                                    <option value="09:00">09:00</option>
                                    <option value="09:30">09:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                    <option value="18:30">18:30</option>
                                    <option value="19:00">19:00</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 bg-black text-center">
                        <p class="text-white mb-0">
                            超過24小時則多計入一天<br>如有疑義請聯繫客服
                        </p>
                    </div>
                    <div class="col-md-12 bg-black">
                        <button class="btn btn-100 btn-red" type="submit">預約好車</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-md-6 pl-2">
            <div class="bg-black text-center p-12 mt-3 mb-2 br-14">
                <p class="text-white m-0">最新消息</p>
            </div>
            <div class="bg-black br-14" style="height: 360px;">
                <img src="assets/images/news-1.png" alt="" class="newsCover br-14">
            </div>
        </div>
    </div>
<!-- --------------------------------------------------------------- -->
    <div class="row mt36 mb-4">
        <div class="col-12 text-center">
            <p class="mb-2 fw800 fs24">車種介紹</p>
            <div class="RedLine"></div>
        </div>
        <div class="col-md-4 col-12 text-center p-2">
            <div class="card bg-black br-14 fw600">
                                
                <div class="card-header">
                    <p class="fs24 text-center text-white">Model 3</p>
                </div>
                <img class="img-fluid" alt="100%x280" src="assets/images/car01.png">
                <div class="card-body formCard">
                    <p class="text-break text-white">介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 text-center p-2">
            <div class="card bg-black br-14 fw600">
                                
                <div class="card-header">
                    <p class="fs24 text-center text-white">Model X</p>
                </div>
                <img class="img-fluid" alt="100%x280" src="assets/images/car01.png">
                <div class="card-body formCard">
                    <p class="text-break text-white">介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 text-center p-2">
            <div class="card bg-black br-14 fw600">
                                
                <div class="card-header">
                    <p class="fs24 text-center text-white">Model S</p>
                </div>
                <img class="img-fluid" alt="100%x280" src="assets/images/car01.png">
                <div class="card-body formCard">
                    <p class="text-break text-white">介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text介紹Text</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --------------------------------------------------------------- -->
<!-- MYcontainer -->
<div class="container ">
    <p class="mb-2 fw800 fs24 p-0 text-center">租車流程</p>
    <div class="RedLine"></div>
    <div class="w-100 text-center bg-gray mt-4" style="height: 450px;">
    </div>

<!-- --------------------------------------------------------------- -->
    <!-- <p class="mb-2 fw800 fs24 text-center">關於我們</p>
    <div class="RedLine"></div>
    <div class="row">
        <div class="col-6 text-center p-0">
            <img src="img/aboutUs.png" alt="" class="newsCover">
        </div>
        <div class="col-6 text-center bg-gray p-0">
            <div class="box">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
            </div>
        </div>
    </div> -->
    <div class="row mt36 p-0">
        <div class="col-12 text-center mb-4 p-0">
            <p class="mb-2 fw800 fs24">關於我們</p>
            <div class="RedLine"></div>
        </div>
        <div class="col-12 col-md-6 text-center p-0">
            <img src="assets/images/aboutUs.png" alt="" class="newsCover">
        </div>
        <div class="col-12 col-md-6 text-center bg-gray p-0">
            <div class="box">
                關於我們內文關於我們內文關於我們內文
                關於我們內文關於我們內文關於我們內文
                關於我們內文關於我們內文關於我們內文
                關於我們內文關於我們內文關於我們內文
            </div>
        </div>
    </div>
<!-- --------------------------------------------------------------- -->
    <div class="row mt36 p-0">
        <div class="col-12 text-center mb-4 p-0">
            <p class="mb-2 fw800 fs24">常見問題</p>
            <div class="RedLine"></div>
        </div>
        <div class="col-12 text-center bg-gray p-24 mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12" data-bs-toggle="collapse" href="#collapseQ1" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <a class="float-left text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            Q1) 在哪裡取車?
                                        </a>
                                        <a class="float-right text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            >
                                        </a>
                                        <!-- <button class="btn float-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQ1" aria-expanded="false" aria-controls="collapseExample" style="padding: 0.125rem 0.375rem;">
                                            >
                                        </button> -->
                                    </div>
                                    <div class="collapse col-12" id="collapseQ1">
                                        <p class="text-left">
                                            解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12" data-bs-toggle="collapse" href="#collapseQ2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <a class="float-left text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            Q2) 要繳保證金嗎?
                                        </a>
                                        <a class="float-right text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            >
                                        </a>
                                        <!-- <button class="btn float-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQ1" aria-expanded="false" aria-controls="collapseExample" style="padding: 0.125rem 0.375rem;">
                                            >
                                        </button> -->
                                    </div>
                                    <div class="collapse col-12" id="collapseQ2">
                                        <p class="text-left">
                                            解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12" data-bs-toggle="collapse" href="#collapseQ3" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <a class="float-left text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            Q3) 其他縣市也可以租嗎?
                                        </a>
                                        <a class="float-right text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            >
                                        </a>
                                        <!-- <button class="btn float-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQ1" aria-expanded="false" aria-controls="collapseExample" style="padding: 0.125rem 0.375rem;">
                                            >
                                        </button> -->
                                    </div>
                                    <div class="collapse col-12" id="collapseQ3">
                                        <p class="text-left">
                                            解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12" data-bs-toggle="collapse" href="#collapseQ4" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <a class="float-left text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            Q4) 可以取消預訂並退款嗎?
                                        </a>
                                        <a class="float-right text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            >
                                        </a>
                                        <!-- <button class="btn float-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQ1" aria-expanded="false" aria-controls="collapseExample" style="padding: 0.125rem 0.375rem;">
                                            >
                                        </button> -->
                                    </div>
                                    <div class="collapse col-12" id="collapseQ4">
                                        <p class="text-left">
                                            解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12" data-bs-toggle="collapse" href="#collapseQ5" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <a class="float-left text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            Q5) 租車有什麼限制? 有里程限制嗎?
                                        </a>
                                        <a class="float-right text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            >
                                        </a>
                                        <!-- <button class="btn float-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQ1" aria-expanded="false" aria-controls="collapseExample" style="padding: 0.125rem 0.375rem;">
                                            >
                                        </button> -->
                                    </div>
                                    <div class="collapse col-12" id="collapseQ5">
                                        <p class="text-left">
                                            解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12" data-bs-toggle="collapse" href="#collapseQ6" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <a class="float-left text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            Q6) 保險投保方式?
                                        </a>
                                        <a class="float-right text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            >
                                        </a>
                                        <!-- <button class="btn float-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQ1" aria-expanded="false" aria-controls="collapseExample" style="padding: 0.125rem 0.375rem;">
                                            >
                                        </button> -->
                                    </div>
                                    <div class="collapse col-12" id="collapseQ6">
                                        <p class="text-left">
                                            解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12" data-bs-toggle="collapse" href="#collapseQ7" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <a class="float-left text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            Q7) 想要客製化的服務?
                                        </a>
                                        <a class="float-right text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            >
                                        </a>
                                        <!-- <button class="btn float-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQ1" aria-expanded="false" aria-controls="collapseExample" style="padding: 0.125rem 0.375rem;">
                                            >
                                        </button> -->
                                    </div>
                                    <div class="collapse col-12" id="collapseQ7">
                                        <p class="text-left">
                                            解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12" data-bs-toggle="collapse" href="#collapseQ8" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <a class="float-left text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            Q8) ...
                                        </a>
                                        <a class="float-right text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            >
                                        </a>
                                        <!-- <button class="btn float-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQ1" aria-expanded="false" aria-controls="collapseExample" style="padding: 0.125rem 0.375rem;">
                                            >
                                        </button> -->
                                    </div>
                                    <div class="collapse col-12" id="collapseQ8">
                                        <p class="text-left">
                                            解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12" data-bs-toggle="collapse" href="#collapseQ9" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <a class="float-left text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            Q9) ...
                                        </a>
                                        <a class="float-right text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            >
                                        </a>
                                        <!-- <button class="btn float-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQ1" aria-expanded="false" aria-controls="collapseExample" style="padding: 0.125rem 0.375rem;">
                                            >
                                        </button> -->
                                    </div>
                                    <div class="collapse col-12" id="collapseQ9">
                                        <p class="text-left">
                                            解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-12" data-bs-toggle="collapse" href="#collapseQ10" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <a class="float-left text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            Q10) ...
                                        </a>
                                        <a class="float-right text-clean text-black"  style="padding: 0.125rem 0.375rem;">
                                            >
                                        </a>
                                        <!-- <button class="btn float-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQ1" aria-expanded="false" aria-controls="collapseExample" style="padding: 0.125rem 0.375rem;">
                                            >
                                        </button> -->
                                    </div>
                                    <div class="collapse col-12" id="collapseQ10">
                                        <p class="text-left">
                                            解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...解答內容...
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>
