<div class="container">
    <!-- --------------------------------------------------------------- -->

    <div class="row">
        <div class="col-md-12 mt-2 mb-2">
            <a class="text-black" href="01Home.html">首頁</a> <a>></a>
            <a>會員資料</a>
        </div>

        <div class="col-md-5 col-12 mt-2">
            <!-- 大頭貼照 -->

            <label
                class="bg-lightgray float-center row"
                style="
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                    margin-left: 25%;
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;
                "
                for="avatar"
            >
                <div *ngIf="!avatar?.base64" style="text-align: center">
                    上傳大頭貼
                </div>
                <div
                    *ngIf="avatar?.base64"
                    style="
                        display: inline-block;
                        border-radius: 50%;
                        overflow: hidden;
                        width: 200px;
                        height: 200px;
                        padding: 0;
                    "
                >
                    <img
                        [src]="avatar?.base64"
                        class="d-block"
                        alt="大頭貼"
                        style="width: 100%; height: 100%; object-fit: cover"
                    />
                </div>
                <input
                    type="file"
                    id="avatar"
                    accept="image/*"
                    style="display: none"
                    (change)="onUploadAvatar($event.target.files[0])"
                />
            </label>
        </div>

        <form
            class="col-md-6 col-12 mt-2"
            [formGroup]="userInfoForm"
            (ngSubmit)="onChangeUserInfo()"
        >
            <a> ◆ 註冊日期： </a>
            <input
                class="userViewing"
                style="width: 75%"
                readonly
                [value]="userInfoForm.value.createdAt | date: 'yyyy.MM.dd'"
            />
            <br />

            <a> ◆ 姓名： </a>
            <input
                [ngClass]="{ userViewing: !userEditing }"
                style="width: 82%"
                [readonly]="!userEditing"
                formControlName="name"
            />
            <br />

            <a> ◆ 性別： </a>
            <div *ngIf="userEditing" style="display: inline-block">
                <input
                    type="radio"
                    id="genderMale"
                    value="male"
                    formControlName="gender"
                />
                <label for="genderMale">男</label>
                <input
                    type="radio"
                    id="genderFemale"
                    value="female"
                    formControlName="gender"
                />
                <label for="genderFemale">女</label>
            </div>
            <input
                class="userViewing"
                *ngIf="!userEditing"
                style="width: 82%"
                readonly
                [value]="userInfoForm.value.gender | Gender"
            />
            <br />

            <a> ◆ 手機號碼： </a>
            <input
                [ngClass]="{ userViewing: !userEditing }"
                style="width: 75%"
                [readonly]="!userEditing"
                formControlName="cellphone"
            />
            <br />

            <a> ◆ 電子信箱： </a>
            <input
                [ngClass]="{ userViewing: !userEditing }"
                style="width: 75%"
                [readonly]="!userEditing"
                formControlName="email"
            />
            <br />

            <a> ◆ 生日： </a>
            <input
                [ngClass]="{ userViewing: !userEditing }"
                style="width: 82%"
                [readonly]="!userEditing"
                formControlName="birthdate"
                [matDatepicker]="picker1"
                (click)="userEditing && picker1.open()"
            />
            <mat-datepicker #picker1></mat-datepicker>
            <br />

            <a> ◆ 身份證　： </a>
            <input
                class="userViewing"
                style="width: 75%"
                readonly
                [value]="userInfoForm.value.custId"
            />
            <br />

            <button
                class="btn-gray-outline btn-round float-right m6"
                type="button"
            >
                身分證背面上傳
            </button>
            <button
                class="btn-gray-outline btn-round float-right m6"
                type="button"
            >
                身分證正面上傳
            </button>
            <button
                class="btn-gray-outline btn-round float-right m6"
                type="button"
                (click)="onEditUserInfo()"
            >
                {{ userEditing ? "取消" : "編輯" }}
            </button>
            <button
                class="btn-green btn-round float-right m6"
                type="submit"
                *ngIf="userEditing"
            >
                確定
            </button>
        </form>
    </div>

    <!-- --------------------------------------------------------------- -->
    <div *ngIf="role?.partner && userApproved">
        <p class="fw600">我的特斯拉</p>
        <div class="w-100 bg-black" style="height: 2px"></div>
        <!-- 全新會員 (無出租紀錄者/無特斯拉登入) Start-->
        <div class="row" *ngIf="!carInfo?.length">
            <div class="col-4 mx-auto mt-4 mb-4">
                <a
                    class="btn btn-sm btn-blue w-100 br-14 p-12 fw600"
                    routerLink="/addTesla"
                    >新增特斯拉</a
                >
            </div>
        </div>
        <!-- 全新會員 (無出租紀錄者/無特斯拉登入) End-->
        <!-- 舊會員(有出租紀錄者/有特斯拉登入) Start-->
        <div class="row" *ngIf="carInfo?.length">
            <div class="col-md-11 offset-md-1 mt-2 mb-4">
                <ul class="nav nav-tabs memberTab" id="myTab" role="tablist">
                    <li
                        class="nav-item"
                        role="presentation"
                        *ngFor="let car of carInfo; let i = index"
                    >
                        <button
                            class="nav-link active"
                            id="tesla1-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#tesla1"
                            type="button"
                            role="tab"
                            aria-controls="home"
                            aria-selected="true"
                            (click)="onChangeTesla(i)"
                        >
                            特斯拉{{ i + 1 }}
                        </button>
                    </li>
                    <li class="" role="">
                        <a
                            class="nav-link btn-blue"
                            id=""
                            type="button"
                            role="tab"
                            routerLink="/addTesla"
                            >新增特斯拉</a
                        >
                    </li>
                </ul>
                <div
                    class="tab-content"
                    id="myTabContent"
                    *ngIf="carInfo.length > 0"
                >
                    <div
                        class="tab-pane fade show active"
                        id="tesla1"
                        role="tabpanel"
                        aria-labelledby="tesla1-tab"
                    >
                        <div class="row">
                            <div class="col-md-6 col-sm-12 mt-2 mb-2 p-12">
                                <a> • 車種：</a>
                                <a
                                    >{{
                                        carInfo[carIndex].model +
                                            " " +
                                            carInfo[carIndex].spec
                                    }}
                                </a>
                                <br />
                                <a> • 年份/季：</a>
                                <a
                                    >{{
                                        carInfo[carIndex].year +
                                            "/Q" +
                                            carInfo[carIndex].season
                                    }}
                                </a>
                                <br />
                                <a> • 車牌號碼：</a>
                                <a>{{ carInfo[carIndex].carNumber }}</a>
                                <br />
                                <a> • 充電規格：</a>
                                <a>{{ carInfo[carIndex].chargeType }}</a>
                                <br />
                                <a>• </a>
                                <a
                                    data-bs-toggle="modal"
                                    role="button"
                                    (click)="onOpenVLDialog()"
                                >
                                    行照
                                </a>
                                <br />
                                <a>• </a>
                                <a> &ensp;購入車價：</a>
                                <a>{{ carInfo[carIndex].carPrice }}萬</a>
                                <br />
                                <a> • 保險資料</a>
                                <br />

                                <div
                                    *ngFor="
                                        let insurance of carInfo[carIndex]
                                            .insuranceArray
                                    "
                                >
                                    <a> &ensp;投保日期：</a>
                                    <a
                                        >{{
                                            insurance.insuranceStartDate
                                                | date: "yyyy/MM/dd"
                                        }}
                                        ~
                                        {{
                                            insurance.insuranceEndDate
                                                | date: "yyyy/MM/dd"
                                        }}
                                    </a>
                                    <br />

                                    <a> &ensp;投保種類：</a>
                                    <br />
                                    <a>
                                        {{
                                            insurance.insuranceCompany +
                                                "/" +
                                                insurance.insuranceType +
                                                "/" +
                                                insurance.insurancePrice +
                                                "萬"
                                        }}
                                    </a>
                                    <br />
                                </div>
                                <a> • 租車價格：$</a><a>2300</a>
                                <br />
                                <a> • 車輛每月可出租日期</a>
                                <mat-calendar
                                    #calendar
                                    [dateClass]="onCalendarIsSelected"
                                ></mat-calendar>
                                <br />
                                <!-- 這裡缺一個calander -->
                                <button
                                    class="btn btn-green btn-round float-right w-100 m6 align-text-bottom"
                                    type="button"
                                    *ngIf="
                                        carInfo[carIndex].status === 'approved'
                                    "
                                >
                                    審核通過
                                </button>
                                <button
                                    class="btn btn-blue btn-round float-right w-100 m6 align-text-bottom"
                                    type="button"
                                    disabled
                                    *ngIf="
                                        carInfo[carIndex].status === 'pending'
                                    "
                                >
                                    審核中</button
                                ><!-- 不可點 -->
                                <button
                                    class="btn btn-red btn-round float-right w-100 m6 align-text-bottom"
                                    type="button"
                                    data-bs-toggle="modal"
                                    *ngIf="
                                        carInfo[carIndex].status === 'failed'
                                    "
                                    (click)="onOpenFailedReasonDialog()"
                                >
                                    審核失敗
                                </button>
                            </div>
                            <div class="col-md-5 col-sm-12 mt-2 mb-2 b1 br-14">
                                <div class="container">
                                    <div class="row text-center">
                                        <div class="col-12 text-center">
                                            <p
                                                class="h3 text-gray fw600 mt-4 mb-4"
                                            >
                                                車體照片
                                            </p>
                                            <div
                                                id="carouselExampleControls"
                                                class="carousel slide"
                                                data-bs-ride="carousel"
                                            >
                                                <div
                                                    class="carousel-inner br-14"
                                                >
                                                    <div
                                                        class="carousel-item active"
                                                    >
                                                        <img
                                                            src="assets/images/carBody.png"
                                                            class="d-block w-100"
                                                            alt="..."
                                                        />
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img
                                                            src="assets/images/carBody.png"
                                                            class="d-block w-100"
                                                            alt="..."
                                                        />
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img
                                                            src="assets/images/carBody.png"
                                                            class="d-block w-100"
                                                            alt="..."
                                                        />
                                                    </div>
                                                </div>
                                                <button
                                                    class="carousel-control-prev"
                                                    type="button"
                                                    data-bs-target="#carouselExampleControls"
                                                    data-bs-slide="prev"
                                                >
                                                    <span
                                                        class="carousel-control-prev-icon carouselBtn"
                                                        aria-hidden="true"
                                                    ></span>
                                                    <span
                                                        class="visually-hidden"
                                                        >Previous</span
                                                    >
                                                </button>
                                                <button
                                                    class="carousel-control-next"
                                                    type="button"
                                                    data-bs-target="#carouselExampleControls"
                                                    data-bs-slide="next"
                                                >
                                                    <span
                                                        class="carousel-control-next-icon carouselBtn"
                                                        aria-hidden="true"
                                                    ></span>
                                                    <span
                                                        class="visually-hidden"
                                                        >Next</span
                                                    >
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-4 p-12">
                                            <div class="card RCarCard">
                                                <img
                                                    [src]="
                                                        carInfo[carIndex].car01
                                                            .base64
                                                    "
                                                    class="d-block w-100"
                                                    alt="車前"
                                                />
                                                <div
                                                    class="card-body card-text p-12"
                                                >
                                                    <p class="h5 m-0">車前</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 p-12">
                                            <div class="card RCarCard">
                                                <img
                                                    [src]="
                                                        carInfo[carIndex].car02
                                                            .base64
                                                    "
                                                    class="d-block w-100"
                                                    alt="車尾"
                                                />
                                                <div
                                                    class="card-body card-text p-12"
                                                >
                                                    <p class="h5 m-0">車尾</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 p-12">
                                            <div class="card RCarCard">
                                                <img
                                                    [src]="
                                                        carInfo[carIndex].car03
                                                            .base64
                                                    "
                                                    class="d-block w-100"
                                                    alt="車燈"
                                                />
                                                <div
                                                    class="card-body card-text p-12"
                                                >
                                                    <p class="h5 m-0">車燈</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 p-12">
                                            <div class="card RCarCard">
                                                <img
                                                    [src]="
                                                        carInfo[carIndex].car04
                                                            .base64
                                                    "
                                                    class="d-block w-100"
                                                    alt="儀錶板"
                                                />
                                                <div
                                                    class="card-body card-text p-12"
                                                >
                                                    <p class="h5 m-0">儀錶板</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 p-12">
                                            <div class="card RCarCard">
                                                <img
                                                    [src]="
                                                        carInfo[carIndex].car05
                                                            .base64
                                                    "
                                                    class="d-block w-100"
                                                    alt="後座"
                                                />
                                                <div
                                                    class="card-body card-text p-12"
                                                >
                                                    <p class="h5 m-0">後座</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 p-12">
                                            <div class="card RCarCard">
                                                <img
                                                    [src]="
                                                        carInfo[carIndex].car06
                                                            .base64
                                                    "
                                                    class="d-block w-100"
                                                    alt="駕駛座墊"
                                                />
                                                <div
                                                    class="card-body card-text p-12"
                                                >
                                                    <p class="h5 m-0">
                                                        駕駛座墊
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 p-12">
                                            <div class="card RCarCard">
                                                <img
                                                    [src]="
                                                        carInfo[carIndex].car07
                                                            .base64
                                                    "
                                                    class="d-block w-100"
                                                    alt="副駕座位"
                                                />
                                                <div
                                                    class="card-body card-text p-12"
                                                >
                                                    <p class="h5 m-0">
                                                        副駕座位
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 p-12">
                                            <div class="card RCarCard">
                                                <img
                                                    [src]="
                                                        carInfo[carIndex].car08
                                                            .base64
                                                    "
                                                    class="d-block w-100"
                                                    alt="前車箱"
                                                />
                                                <div
                                                    class="card-body card-text p-12"
                                                >
                                                    <p class="h5 m-0">前車箱</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 p-12">
                                            <div class="card RCarCard">
                                                <img
                                                    [src]="
                                                        carInfo[carIndex].car09
                                                            .base64
                                                    "
                                                    class="d-block w-100"
                                                    alt="後車箱"
                                                />
                                                <div
                                                    class="card-body card-text p-12"
                                                >
                                                    <p class="h5 m-0">後車箱</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="tab-pane fade"
                        id="tesla2"
                        role="tabpanel"
                        aria-labelledby="tesla2-tab"
                    >
                        ...
                    </div>
                    <div
                        class="tab-pane fade"
                        id="tesla3"
                        role="tabpanel"
                        aria-labelledby="tesla3-tab"
                    >
                        ...
                    </div>
                </div>
            </div>
        </div>
        <!-- 舊會員(有出租紀錄者/有特斯拉登入) End-->
        <!-- --------------------------------------------------------------- -->

        <p class="fw600">出租紀錄</p>
        <div class="w-100 bg-black" style="height: 2px"></div>

        <!-- 全新會員 (無出租紀錄者/無特斯拉登入) Start-->
        <div class="row" *ngIf="orderRent.length === 0">
            <div class="col-12 mx-auto mt-4 mb-4">
                <p class="fw600 text-center mt-3">尚未有任何出租紀錄</p>
            </div>
        </div>
        <!-- 全新會員 (無出租紀錄者/無特斯拉登入) End-->
        <!-- 舊會員(有出租紀錄者/有特斯拉登入) Start-->
        <div class="row" *ngIf="orderRent.length > 0">
            <div class="col-md-12 mt-2 mb-4">
                <ul
                    class="nav nav-tabs memberTab"
                    id="historyTab"
                    role="tablist"
                >
                    <li
                        class="nav-item"
                        role="presentation"
                        *ngFor="let rent of orderRent; let i = index"
                    >
                        <button
                            class="nav-link active"
                            id="Horder1-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#Horder1"
                            type="button"
                            role="tab"
                            aria-controls="home"
                            aria-selected="true"
                        >
                            紀錄{{ i + 1 }}
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="historyTabContent">
                    <div
                        class="tab-pane fade show active"
                        id="Horder1"
                        role="tabpanel"
                        aria-labelledby="Horder1-tab"
                    >
                        <div class="row">
                            <div class="col-md-6 mt-2 mb-2 p-12">
                                <a> • 訂單編號：</a>
                                <a>
                                    {{ orderRent[orderRentId]?.orderId }}
                                </a>
                                <br />
                                <a> • 車子編號：</a>
                                <a>
                                    {{
                                        orderRent[orderRentId]?.car?.model +
                                            " " +
                                            orderRent[orderRentId]?.car?.spec
                                    }}
                                </a>
                                <br />
                                <a> • 取/還車地點：</a>
                                <a>{{ orderRent[orderRentId]?.location }}</a>
                                <br />
                                <a> • 租借時數：</a>
                                <a>
                                    {{
                                        orderRent[orderRentId]?.startDate
                                            | rentHour
                                                : orderRent[orderRentId]
                                                      ?.endDate
                                    }}hr
                                </a>
                                <br />
                                <a> • 租車日期/時間：</a>
                                <a>
                                    {{
                                        orderRent[orderRentId]?.startDate
                                            | date: "yyyy.MM.dd / HH:mm"
                                    }}
                                </a>
                                <br />
                                <a> • 還車日期/日期：</a>
                                <a>
                                    {{
                                        orderRent[orderRentId]?.endDate
                                            | date: "yyyy.MM.dd / HH:mm"
                                    }}
                                </a>
                                <br />
                                <a> • 總里程數：</a><a>320km</a>
                                <br />
                                <a>• </a>
                                <a
                                    data-bs-toggle="modal"
                                    href="#ReturnCarModal"
                                    role="button"
                                >
                                    還車車體照片
                                </a>
                                <br />
                                <a> • </a>
                                <a
                                    data-bs-toggle="modal"
                                    href="#ETCrecordsModal"
                                    role="button"
                                    >ETC紀錄
                                </a>
                                <a>(請在還車3天內上傳明細)</a>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div
                        class="tab-pane fade"
                        id="Horder2"
                        role="tabpanel"
                        aria-labelledby="Horder2-tab"
                    >
                        ...
                    </div>
                    <div
                        class="tab-pane fade"
                        id="Horder3"
                        role="tabpanel"
                        aria-labelledby="Horder3-tab"
                    >
                        ...
                    </div>
                </div>
            </div>
        </div>
        <!-- 舊會員(有出租紀錄者/有特斯拉登入) End-->
    </div>
    <!-- --------------------------------------------------------------- -->
    <div *ngIf="role?.user">
        <p class="fw600">我的訂單</p>
        <div class="w-100 bg-black" style="height: 2px"></div>

        <div class="row">
            <div class="col-md-12 mt-2 mb-4">
                <ul class="nav nav-tabs memberTab" id="myTab" role="tablist">
                    <li
                        class="nav-item"
                        role="presentation"
                        *ngFor="let order of ordersNotYet; let i = index"
                    >
                        <button
                            class="nav-link active"
                            id="order1-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#order1"
                            type="button"
                            role="tab"
                            aria-controls="home"
                            aria-selected="true"
                            (click)="ordersNotYetId = i"
                        >
                            訂單{{ i + 1 }}
                        </button>
                    </li>
                </ul>
                <div
                    class="tab-content"
                    id="myTabContent"
                    *ngIf="ordersNotYet.length > 0"
                >
                    <div
                        class="tab-pane fade show active"
                        id="order1"
                        role="tabpanel"
                        aria-labelledby="order1-tab"
                    >
                        <div class="row">
                            <div class="col-md-6 mt-2 mb-2 p-12">
                                <a> • 訂單編號：</a>
                                <a>
                                    {{ ordersNotYet[ordersNotYetId]?.orderId }}
                                </a>
                                <br />

                                <a> • 車子編號：</a>
                                <a>
                                    {{
                                        ordersNotYet[ordersNotYetId]?.car
                                            ?.model +
                                            " " +
                                            ordersNotYet[ordersNotYetId]?.car
                                                ?.spec
                                    }}
                                </a>
                                <br />
                                <a> • 取/還車地點：</a>
                                <a>
                                    {{ ordersNotYet[ordersNotYetId]?.location }}
                                </a>
                                <br />
                                <a> • 租借時數：</a>
                                <a>
                                    {{
                                        ordersNotYet[ordersNotYetId]?.startDate
                                            | rentHour
                                                : ordersNotYet[ordersNotYetId]
                                                      ?.endDate
                                    }}hr
                                </a>
                                <br />
                                <a> • 租車日期/時間：</a>
                                <a>
                                    {{
                                        ordersNotYet[ordersNotYetId]?.startDate
                                            | date: "yyyy.MM.dd / HH:mm"
                                    }}
                                </a>
                                <br />
                                <a> • 還車日期/日期：</a>
                                <a>
                                    {{
                                        ordersNotYet[ordersNotYetId]?.endDate
                                            | date: "yyyy.MM.dd / HH:mm"
                                    }}
                                </a>
                                <br />
                            </div>
                            <div class="col-md-5 mt-2 mb-2">
                                <button
                                    class="btn-gray-outline btn-round float-right w-30 m6"
                                    type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#CancelOrderModal"
                                >
                                    取消訂單
                                </button>
                                <button
                                    class="btn-gray-outline btn-round float-right w-30 m6"
                                    type="button"
                                >
                                    詳細資料
                                </button>
                            </div>
                        </div>
                    </div>
                    <div
                        class="tab-pane fade"
                        id="order2"
                        role="tabpanel"
                        aria-labelledby="order2-tab"
                    >
                        ...
                    </div>
                    <div
                        class="tab-pane fade"
                        id="order3"
                        role="tabpanel"
                        aria-labelledby="order3-tab"
                    >
                        ...
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------------------------------------------- -->

        <p class="fw600">歷史訂單</p>
        <div class="w-100 bg-black" style="height: 2px"></div>

        <div class="row">
            <div class="col-md-12 mt-2 mb-4">
                <ul
                    class="nav nav-tabs memberTab"
                    id="historyTab"
                    role="tablist"
                >
                    <li
                        class="nav-item"
                        role="presentation"
                        *ngFor="let order of ordersHistory; let i = index"
                    >
                        <button
                            class="nav-link active"
                            id="Horder1-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#Horder1"
                            type="button"
                            role="tab"
                            aria-controls="home"
                            aria-selected="true"
                        >
                            訂單{{ i + 1 }}
                        </button>
                    </li>
                </ul>
                <div
                    class="tab-content"
                    id="historyTabContent"
                    *ngIf="ordersHistory.length > 0"
                >
                    <div
                        class="tab-pane fade show active"
                        id="Horder1"
                        role="tabpanel"
                        aria-labelledby="Horder1-tab"
                    >
                        <div class="row">
                            <div class="col-md-6 mt-2 mb-2 p-12">
                                <a> • 訂單編號：</a>
                                <a>
                                    {{
                                        ordersHistory[ordersHistoryId]?.orderId
                                    }}
                                </a>
                                <br />
                                <a> • 車子編號：</a>
                                <a>
                                    {{
                                        ordersHistory[ordersHistoryId]?.car
                                            ?.model +
                                            " " +
                                            ordersHistory[ordersHistoryId]?.car
                                                ?.spec
                                    }}
                                </a>
                                <br />
                                <a> • 取/還車地點：</a>
                                <a>
                                    {{
                                        ordersHistory[ordersHistoryId]?.location
                                    }}
                                </a>
                                <br />
                                <a> • 租借時數：</a>
                                <a>
                                    {{
                                        ordersHistory[ordersHistoryId]
                                            ?.startDate
                                            | rentHour
                                                : ordersHistory[ordersHistoryId]
                                                      ?.endDate
                                    }}hr
                                </a>
                                <br />
                                <a> • 租車日期/時間：</a>
                                <a>
                                    {{
                                        ordersHistory[ordersHistoryId]
                                            ?.startDate
                                            | date: "yyyy.MM.dd / HH:mm"
                                    }}
                                </a>
                                <br />
                                <a> • 還車日期/日期：</a>
                                <a>
                                    {{
                                        ordersHistory[ordersHistoryId]?.endDate
                                            | date: "yyyy.MM.dd / HH:mm"
                                    }}
                                </a>
                                <br />
                            </div>
                            <div class="col-md-6 mt-2 mb-2">
                                <button
                                    class="btn-gray-outline btn-round float-right w-30 m6"
                                    type="button"
                                >
                                    詳細資料
                                </button>
                            </div>
                        </div>
                    </div>
                    <div
                        class="tab-pane fade"
                        id="Horder2"
                        role="tabpanel"
                        aria-labelledby="Horder2-tab"
                    >
                        ...
                    </div>
                    <div
                        class="tab-pane fade"
                        id="Horder3"
                        role="tabpanel"
                        aria-labelledby="Horder3-tab"
                    >
                        ...
                    </div>
                </div>
            </div>
        </div>

        <!-- --------------------------------------------------------------- -->

        <p class="fw600">我的駕照</p>
        <div class="w-100 bg-black" style="height: 2px"></div>

        <div class="row mt-4 mb-4">
            <div class="col-md-5 col-12 text-center imgUPdiv mt-1 mb-1">
                <p class="text-imgUPdiv" style="margin-top: 42px !important">
                    已有駕照圖<br />正面
                </p>
            </div>
            <div class="col-md-5 col-12 text-center imgUPdiv mt-1 mb-1">
                <p class="text-imgUPdiv" style="margin-top: 42px !important">
                    已有駕照圖<br />背面
                </p>
            </div>
        </div>
    </div>
    <!-- --------------------------------------------------------------- -->

    <p class="fw600">密碼變更</p>
    <div class="w-100 bg-black" style="height: 2px"></div>

    <form
        class="row mt-4 mb-4 gap-2"
        [formGroup]="resetPwdForm"
        (ngSubmit)="onResetPwd()"
    >
        <div class="col-md-3 col-3 text-right">
            <p class="">舊密碼</p>
        </div>
        <div class="col-md-4 col-4 text-center">
            <input
                type="text"
                class="form-control"
                aria-describedby=""
                placeholder=""
                formControlName="oldPassword"
            />
        </div>
        <div class="col-md-4 col-4 text-left">
            <p
                class="text-red mt-2"
                *ngIf="
                    resetPwdForm.get('oldPassword').invalid &&
                    (resetPwdForm.get('oldPassword').dirty ||
                        resetPwdForm.get('oldPassword').touched)
                "
            >
                請輸入舊密碼
            </p>
        </div>

        <div class="col-md-3 col-3 text-right">
            <p class="">新密碼</p>
        </div>
        <div class="col-md-4 col-4 text-center">
            <input
                type="password"
                class="form-control"
                aria-describedby=""
                placeholder=""
                formControlName="newPassword"
            />
        </div>
        <div class="col-md-4 col-4 text-left">
            <p
                class="text-red mt-2"
                *ngIf="
                    resetPwdForm.get('newPassword').invalid &&
                    (resetPwdForm.get('newPassword').dirty ||
                        resetPwdForm.get('newPassword').touched)
                "
            >
                請輸入新密碼
            </p>
        </div>

        <div class="col-md-3 col-3 text-right">
            <p>新密碼確認</p>
        </div>
        <div class="col-md-4 col-4 text-center">
            <input
                type="password"
                class="form-control"
                aria-describedby=""
                placeholder=""
                formControlName="confirmPwd"
            />
        </div>
        <div class="col-md-4 col-4 text-left">
            <p
                class="text-red mt-2"
                *ngIf="
                    resetPwdForm.get('confirmPwd').invalid &&
                    (resetPwdForm.get('confirmPwd').dirty ||
                        resetPwdForm.get('confirmPwd').touched)
                "
            >
                確認密碼與密碼不相符
            </p>
        </div>

        <div class="col-md-12 col-12 text-center">
            <button
                type="submit"
                class="btn btn-red w-20"
                data-bs-toggle="modal"
                data-bs-target="#ChangePwdModal"
                [disabled]="resetPwdForm.invalid"
            >
                更新
            </button>
        </div>
    </form>

    <!-- --------------------------------------------------------------- -->
</div>
